html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 1.2em MINCHO;
  background: #ffffff url(background.png) repeat;
  background-size: 455px;
  color: rgb(255, 255, 255);}

p
{ padding: 0 0 0px 0;
  line-height: 1.2em;}

img
{ border: 0;
background: none;}

#AETHERPOEM {
  position: relative;
  top: -500px;
  left: 15px
}

h1, h2, h4, h5, h6 
{ font: normal 175% MINCHO;
  color: rgb(255, 255, 255);
  margin: 0 0 0px 0;
  padding: 40px 0 0px 0;}

h2
{ font: normal 175% MINCHO}

h3{
  font: normal 175% MINCHO;
  color: rgb(255, 255, 255);
  margin: 0 0 0px 0;
  padding: 20px 0 0px 0;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 120% MINCHO;}

h5, h6
{ font: italic 95% MINCHO;
  padding: 0 0 15px 0;}

  a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  /* visited link */
  a:visited {
    color: #ffffff;
  }
  /* mouse over link */
  a:hover {
    color: rgb(0, 255, 0);
  }
  /* selected link */
  a:active {
    color: rgb(0, 255, 0)0;
  }

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

@font-face {
  font-family: MINCHO;
  src: url(MSMINCHO.TTF);
}

#main, #logo, #menubar, #site_content, #footer, #pfp
{ margin-left: auto; 
  margin-right: auto;}

#header
{height: 265px;}

#boot{
  color:rgb(0, 255, 0);
  padding: 0px 0 0 0;
  letter-spacing: -1px;
  text-decoration: none;
}

#tweets{
  white-space: pre-wrap;
}

#logo
{ width: 1000px;
  position: relative;
  height: 130px;}

#logo #logo_text 
{ position: absolute; 
  top: 25px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% MINCHO;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 25px 0 0 0;
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 100%;
  padding: 0px 0 0 0;
  color: #FFF;}

#pfp {
  position: absolute;
  top: 90px;
  left: -110px;
}

.menubar{
  width: 1000px;
  position: relative;
  padding: 0px 0px 0px 0px
}

.menubar > div
{ float: left;
	padding: 0px 0px 0px 0px;
	width: 21.5%;
	text-align: center; 
	box-sizing: border-box;
  flex:content;
}

.menubar > div1
{ float: left;
	padding: 0px 0px 0px 0px;
	width: 17%;
	text-align: left; 
	box-sizing: border-box;
}

.menubar > div2
{ float: right;
	padding: 0px 0px 0px 0px;
	width: 15%;
	text-align: right; 
	box-sizing: border-box;
} 

#othertxt{
  position: relative;
  left: 500px
}

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% MINCHO;
  display: block; 
  float: left; 
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  }

#site_content
{ width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0px 60px 60px 60px;} 

#site_content_crypt
{ width: 1420px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0px 60px 60px 60px;} 

#site_content_index
{ width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0px 60px 0px 60px;} 

#site_content_aether{
  margin-left: auto; 
  margin-right: auto;
  width: 1000px;
  height: 14  00px;
  overflow: hidden;
}

.sidebar
{ float: right;
  width: 210px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 198px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;} 

.sidebar li a.selected
{ color: #7E2451;
  text-decoration: none;} 

#content
{ text-align: left;
  float: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 898px;
  font: normal 100% MINCHO;
  height: 33px;
  padding: 50px 20px 120px 0;
  text-align: center; 
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% MINCHO;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% MINCHO; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% MINCHO; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% MINCHO; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}

#aetherwebpoem{
  margin: -350px 0 0 0
}